appsettings.Development.json
appsettings.Development.json
appsettings.json
PresidentElectionsOnline.csproj
PresidentElectionsOnline.sln
План сайта.png
.vscode/
obj/
Migrations/
bin/
wwwroot/
Properties/
ElectionsTest.csproj
PresidentElections.sln
Pic/
Vote.jpg