@{
    ViewData["Title"] = "Current results of elections are";
}
    <div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>
@foreach (var ballot in Model)
{
    <div class="alert alert-success" role="alert">
        @ballot.LastName - @ballot.Votes
    </div>
}