@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1> Welcome to the elections!</h1>
    <h1>   </h1>
    <h4> To participate You must register.</h4>
    <h4> After this You can choose and vote for Your candidate</h4>
    <h4> Then You will have the opportunity to view the voting results!</h4>
    <h1>   </h1>
    <h2> So simple! </h2>
    <h1>   </h1>
    <h1>
        <a style="text-decoration:none" asp-controller="Registration" asp-action="Index">
            Lets get started
        </a>
    </h1> 
        <h1>   </h1>
        <img src="can.jpg">

</div>
