@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">


    <h1> Welcome to the elections!</h1>
    <h1>   </h1>
    <h4> 1) Register! </h4>
    &nbsp;
    <h4> 2) Log in!</h4>
    &nbsp;
    <h4> 3) Vote for Your candidate!</h4>
    &nbsp;
    <h4> 4) See results!</h4>
    <h1>   </h1>
    <h1>
        <span>&#10003;</span>
        <a style="text-decoration:none" asp-controller="Registration" asp-action="Index">
            Lets get started!
        </a>
    </h1>
    <h1>   </h1>
    <img src="can.jpg">

</div>
