<div class="text-center">
    <h1>@Html.Raw(ViewBag.Message)</h1>
</div>
<div class="text-center"  >
    <h2>  </h2>
    <h3>  </h3>
    <a href= "/Vote">
        <button style= "font-size: 40px" type="button"class = "btn btn-success">Vote</button>
    </a>
</div>


