<div class="text-center">
    <h1>@Html.Raw(ViewBag.Message)</h1>
</div>

<div class="text-center">
    <h2>  </h2>
    <h3>  </h3>
    <a href= "/Results">
        <button type="button"class = "btn btn-success">Results</button>
    </a>
</div>