<div class="text-center">
    <h1>@Html.Raw(ViewBag.Message)</h1>
</div>

<div class="text-center">
    <h2>  </h2>
    <h3>  </h3>
    <a href= "/Registration">
        <button type="button">Return to registration</button>
    </a>
</div>

