@{
    ViewData["Title"] = "Registration";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<form method="post" style="text-align: center;">
    
    <h4>  </h4
    <p>
        <label>Name:</label><br />
        <input type="text" name="Name"/>
        
    </p>
    <h4>  </h4>
     <p>
        <label>Surname:</label><br />
        <input type="text" name="Surname"/>
    </p>
    <h4>  </h4>
     <p>
        <label>Age:</label><br />
        <input type="number" name="Age"/>
    </p>
    <p>
        <input type="submit" value="Sign up" class = "btn btn-success"/>
    </p>
</form>

